/* Reset básico e box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1e1e1e; /* Cor de fundo escura para o tema do jogo */
    color: #ccc; /* Texto claro para contraste com o fundo escuro */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ccac00; /* Cor dourada para combinar com o tema medieval */
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em; /* Tamanho maior para um impacto visual maior */
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('../img/elden-ring-bg.jpg') no-repeat center center/cover; /* Imagem de fundo do jogo */
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 3em; /* Aumentei o tamanho do texto para dar mais destaque */
}

.hero p {
    margin-bottom: 20px;
    font-size: 1.5em; /* Aumentei o tamanho da fonte para melhor leitura */
}

.cta-button {
    background-color: #e63946; /* Cor de destaque no estilo de um botão de chamada */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

.about,
.menu {
    padding: 50px 20px;
    text-align: center;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    background-color: #2a2a2a; /* Fundo escuro para combinar com o tema do jogo */
    border: 1px solid #444; /* Borda para destacar os itens */
    padding: 20px;
    margin: 10px 0;
    width: 90%;
    max-width: 350px; /* Aumentei a largura máxima dos itens */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Sombra mais escura para efeito de profundidade */
}

.menu-item h3 {
    margin-bottom: 10px;
    color: #ccac00; /* Cor dourada para o título dos itens */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

/* Media Queries */

@media (min-width: 768px) {
    .menu-items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-item {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 80%;
    }
}
